{% extends 'base.html.twig' %}


{% block body %}


    <h1>Hello Traffic Jam</h1>

    <ul>
        <li>
            <a href="{{ path('getPlayList') }}">voir la playlist voyage</a>
        </li>
    </ul>




{% endblock %}
