{% extends 'base.html.twig' %}


{% block body %}


    <h1>Hello Traffic Jam</h1>


    {% verbatim %}
    <div id="app">
        {{ message }}
    </div>
    {% endverbatim %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
        message: 'Hello Vue!'
        }
    })
</script>
{% endblock %}
